body {
  font-family: sans-serif;
}

a {
  color: rgb(240, 9, 9);
}

h1 {
  font-weight: bold;
  color: #fff;
  font-size: 32px;
}

a:hover {
  color: rgb(75, 255, 4);
}

.clear {
  clear: both;
}

header {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(0, 17, 255);
}

header h1 {
  font-size: 2em;
}

header nav ul li {
  display: inline;
}

#project-container {
  margin: 0 auto;
  width: 90%;
  max-width: 600px
}

.project {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(0, 38, 255);
}

.project img, #aboutme img {
  width: 250px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

#aboutme img{
  width: 600px
}

.project h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}